NEXT_PUBLIC_SUPABASE_URL=https://[PROJECT-REF].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
RESEND_API_KEY=re_placeholder
PAYPAL_CLIENT_ID=AVgLUCzqXSgNDK7yRKfZBwp41JM3--EkUOfVYcTXZAV7Yj2XJ5omgHwyEof_mjox4AEReEj18tF7CfrL
PAYPAL_CLIENT_SECRET=EIyQ78GiGzMN-lHOCSHh3t2ThdsyEGCszZIXJnsseLTF8PqXpj82JZKa5fD2XbitK22icLyxlzQY1bIo